.body{
    margin: 2rem auto;
    width: 80%;
}
ul {
    list-style: none;
}

li{
    margin: 10px auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 24px;
    color: #252753;
}
h1{
    text-align: center;
    color: #252753;
    
}
